*{
	margin:0;
	padding:0;
}
body{
	background-color: rgba(200,200,10,0.8);
}
.main{
	width:100%;
	/*height:1000px;*/
	/*background-color: rgba(200,200,10,0.8);*/
	/*background: rgba(17,27,200,0.1) url("../images/1478778314_13.gif/")  center center no-repeat;*/
	background-size: cover;
	font-size: 14px;
}
.mask{
	width:900px;
	height:600px;
	margin:20px auto;
	background-color:rgba(17,27,37,0.4);
	position:relative;
	z-index: 99;
	/*border: 2px rgba(200,0,0,1) solid;*/
}
.nowState{
   /* position:relative;
    left: 0;
    top: 0;*/

}
.poster{
	width:300px;
	color:white;
}
.poster h3{
	text-align: center;
	height:40px;
	line-height: 40px;
	margin-top: 20px;
}
#content{
	width:300px;
	height:420px;
	margin:0 auto;
	z-index: 100;
    /*border:2px rgba(0,250,100,1) solid;*/
    text-align: center;
}
#content img{
	width:200px;
	/*border: 1px rgba(0,200,10,1) solid;*/
}
.poster p{
	text-align: center;
	font-size: 20px;
	height:40px;
	line-height: 40px;
}
#content span:first-child{
	font-size: 42px;
}
#content span:nth-child(2){
	vertical-align: text-bottom;
}
.details{
	position:absolute;
	width:570px;
	/*height:260px;*/
	right:0;
	top:0;
	/*border: 2px rgba(250,250,250,0.6) solid;*/
	border: none;
	z-index: 100;
	border-left: 2px rgba(250,250,250,0.6) solid;
	border-bottom: 2px rgba(250,250,250,0.6) solid;

}
.details input[name="title"]{
	width: 250px;
	height:25px;
	line-height: 25px;
	text-align: center;
	background: transparent;
	border:none;
	border-bottom: 1px rgba(200,200,200,0.7) solid;
	outline: medium;    /*除去点击时出现的蓝色边框*/
}
.details input[name="switchButton"]{
	width:100px;
	height:25px;
	line-height: 25px;
	background-color: transparent;
	border:none;
	border-bottom: 2px rgba(250,250,250,0.6) solid;
	border-left: 2px rgba(250,250,250,0.6) solid;
	float: right;
	outline: medium;
	box-shadow: -5px 5px 5px rgba(17,27,37,0.4);

}
.details input[name="switchButton"]:hover{
	background-color: rgba(0,200,250,0.8);
}
.details .suggest{
	display:none;
}
.details .suggest p{
   	margin-top: 10px;
   	text-indent: 1em;
   	margin-left: 5px;
}
.details .more{
	/*display:none;*/
}
.details .more .colu{
	float:left;
	width:110px;
	height:210px;
	text-align: center;
	/*border: 1px rgba(0,0,255,1) solid;*/
	border-left: 1px rgba(200,200,200,0.7) solid;
	margin-top: 10px;
	margin-bottom: 10px;
}
.details .more .colu:first-child{
	margin-left: 5px;
	border-left: none;
}
.details .more .colu p{
	height:20px;
	line-height: 20px;
	margin-bottom: 10px;
}
#night{
	display: none;
}
.mask .moreForecast{
	position:absolute;
	width:570px;
	right:0;
	bottom:0;
	z-index: 100;
	/*border: 2px rgba(250,250,250,0.6) solid;*/
	border: none;
	border-left: 2px rgba(250,250,250,0.6) solid;
	border-top: 2px rgba(250,250,250,0.6) solid;
}
.moreForecast div input[name="dayNight"]{
	float:right;
	width:100px;
	height:25px;
	border:none;
	border-left: 2px rgba(250,250,250,0.6) solid;
	border-top: 2px rgba(250,250,250,0.6) solid;
	background-color: transparent;
	outline: medium;
	box-shadow: -5px -5px 5px rgba(17,27,37,0.4);

}
.moreForecast div input[name="dayNight"]:hover{
	background-color: rgba(0,200,250,0.8);
}

.weaCollection{
    width: 186px;
    float:left;
    margin-top: 10px;
    border-left: 1px rgba(200,200,200,0.7) solid;
    text-align: center;
}
.today{
    margin-left: 3px;
    border-left:none;
   
}
.weaCollection p{
	height:20px;
	line-height: 20px;
	margin-bottom: 10px;
}
p.dateInfo{
	margin-bottom: 0px;
	margin-top: 10px;
}
.weaIcon img{
	width:150px;
	/*border: 1px rgba(0,0,250,0.8) solid;*/
}
.weather{
	width:200px;
	margin:0 auto;
	text-align: center;
}

.footer{
	width:100%;
	height:60px;
    line-height: 30px;
    text-align: center;
    font-family: Georgia,Times ;
    font-size: 14px;
    /*background-color: rgba(7,80,200,0.8);*/

}